@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 8px;
  margin: 0;
  padding: 0;
  position: relative; 
}
body {
  background: #F0F0F0;
}
h2 {
  font-weight: 500;
  font-size: 14px;
}
.container {
  max-width: 595px;
  margin: auto;
  background: #FFF;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-one, .section-two, .section-three{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
.gray {
  background-color: #F0F0F0;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}
.profile-photo {
  border-radius: 12px;
  width: 124px;
  height: 124px;
  overflow: hidden;
}
.profile-img {
  width: 100%;
  height: 100%;
}
.profile-block {
  width: 124px;
  max-height: 124px;
}
.profile-block h4 {
  font-size: 10px;
  font-weight: 500;
}
.profile-info h2 {
  font-size: 14px;
  font-weight: 600;
}
.profile-info p {
  font-size: 12px;
  color: #5C5C5C;
  margin-top: 4px;
}
.languages {
  max-width: 267px;
  max-height: 124px;
  gap: 17px;
  justify-content: flex-start;
  box-sizing: border-box;
  flex: 1;
}
.lang {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}
.lang-points {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;  
}
.lang-points p {
  font-size: 10px;
}
.lang-lines {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.line, .line-botton {
  background-color: #28D979;
  height: 11px;
  width: 168px;
  border-radius: 3px;
}
.line-botton {
  width: 129px;
}
.experience {
  max-width: 411px;
  gap: 14px;
}
.experience-container, .experience-block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.experience-block {
  gap: 8px;
  padding: 8px;
  border-radius: 10px;
  background-color: white ;
  color: black;
}
.experience-block-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.exp-recent {
  text-align: center;
  border-radius: 59px;
  width: 61px;
  padding: 2px 0px;
  background-color: #7E731266;
  color: #DDF163;
}
.experience-block-job {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
.exp-job {
  min-width: 124px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.exp-job h4 {
  font-size: 10px;
}
.exp-job p {
  font-weight: 400;
}
ul {
  font-weight: 300;
  padding-left: 10px;
}
.tools {
  width: 124px;
  gap: 12px;
}
.tools-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.tools-block {
  background-color: #FFF;
  position: relative;
  display: flex;
  justify-content: center;
	align-items: center;
  width: 76px;
  border-radius: 6px;
}
.tools-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 16px;
  padding: 16px 4px;
}
.tools-point {
  position: absolute;
  top:-5%;
  background-color: black;
  color: white;
  padding: 2px 6px;
  min-width: 30px;
  border-radius: 59px;
  font-size: 5px;
}
.education, .interests, .contacts {
  max-width: 267px;
  gap: 16px;
}
.education-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}
.education-block {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  max-width: 116px;
  height: auto;
  gap: 8px;
  padding: 8px;
  border-radius: 10px;
  background-color: white;
}
.green {
  background-color: #28D979 ;
  color: white;
}
.education-block p {
  color: #149063;
}
.green p {
  color: white;
}
.ed-year-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.education h3{
  font-size: 10px;
}
.education p, .education h4{
  font-weight: 400;
}
.interests-contacts-block {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 20px;
}
.interests-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.inter-point {
  padding: 4px 10px;
  border-radius: 40px;
  background-color: white;
  font-size: 10px;
}
.contacts {
  background-color: black;
  color: white;
}
.contacts p {
  font-size: 10px;
  font-weight: 400;
}


*{
  box-sizing: border-box;
}
.btn{
  position: relative;
  overflow: hidden;
  color: white;
  border: none;
  padding: 8px 14px;
  text-align: center;
  font-size: 10px;
  border-radius: 14px;
  max-width: 150px;
  background-color: #28D979;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
  transition: .9s;
  cursor: pointer;
}
.btn:hover{
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.22);
}
.ripple{
  position: absolute;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, .2);
  opacity: 0;
  animation: ripple 0.9s linear;
}
@keyframes ripple{
  0%{
    opacity: 1;
    transform: scale(0);
  }
  10% {
    opacity: 0.8;
  }
  100%{
    opacity: 0;
    transform: scale(2);
  }
}